In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("data/normalized_pruned.csv", index_col=0)
df.head()

,Unnamed: 0,video_id,transcript,doc_length,lexical_diversity
0,0,AAHiZ-c88ec,man getting frustrated water heater delivery s...,760,0.435526
1,1,AEsRr-ZnzNc,start give harry stack go war yes movie rock m...,142,0.676056
5,5,APerX-RLJxo,toyota corolla sedan automatic transmission in...,36,0.972222
6,6,AQbNb-vtBn8,go triton hi dale go starting next saturday si...,65,0.861538
7,7,AQfXU-TJ8hA,walked across empty land knew pathway like bac...,26,1.000000

In [28]:
df.head()

,Unnamed: 0,video_id,transcript,doc_length,lexical_diversity
0,0,AAHiZ-c88ec,man getting frustrated water heater delivery s...,760,0.435526
1,1,AEsRr-ZnzNc,start give harry stack go war yes movie rock m...,142,0.676056
5,5,APerX-RLJxo,toyota corolla sedan automatic transmission in...,36,0.972222
6,6,AQbNb-vtBn8,go triton hi dale go starting next saturday si...,65,0.861538
7,7,AQfXU-TJ8hA,walked across empty land knew pathway like bac...,26,1.000000

In [29]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [30]:
df["doc_length"].describe()

count    1479.000000
mean      230.432049
std       273.348913
min        23.000000
25%        53.000000
50%       124.000000
75%       305.000000
max      2149.000000
Name: doc_length, dtype: float64

In [31]:
df = df[df["doc_length"] > 53]
df.to_csv("data/normalized_pruned_len_filtered.csv", index=False)