In [5]:
import pandas as pd

transcripts = pd.read_csv('data/transcripts_new.csv', index_col=0)
transcripts.head()

                                                    transcript
video_id
AAHiZ-c88ec   Man, because I'm getting frustrated. I had a ...
AEsRr-ZnzNc   Before I start, I will give a shoutout to Rok...
AJpzk-aFZPU   test number 3. Alright Okay, oh go on the gro...
AONXX-h9SdI   We're gonna play something off of our brand n...
AOZIY-AwsjM                                              Music

In [6]:
metadata = pd.read_csv('data/english_samples.csv', usecols=["id", "title", "description", "view_count", "like_count", "duration", "channel_follower_count", "categories"], encoding_errors="ignore")
metadata.head()

,id,title,description,duration,view_count,like_count,channel_follower_count,categories
0,gNuER-JtL3Q,Connectwell Celebration,Celebrating together is essential to growing t...,30,172,2.0,553.0,Science & Technology
1,gNUEr-XRzSs,"""Keeping Money in the Local Economy"" - What is...",#crypto #bitcoin #blockchain #nft #cryptocurre...,2839,189,17.0,1520.0,Entertainment
2,eiKiP-UI5Yk,2010 Dodge Grand Caravan Louisville KY 40222,Click here for price : http://OxmoorHyundai.vs...,79,6,0.0,10.0,Autos & Vehicles
3,EIKIp--YKa8,CERF : Algae Bros Research part 1,Students are researching algae growth rates an...,42,12,0.0,69.0,People & Blogs
4,Eikip-qiSMA,Overwatch: [S6] Watchpoint Gibraltar - Back to...,Overwatch: Origins Edition\nhttps://store.play...,1302,7,0.0,19.0,Gaming

In [7]:
len(metadata), len(transcripts)

(37408, 2654)

In [9]:
merged = pd.merge(transcripts, metadata, left_on='video_id', right_on='id', how='inner')
merged.rename(columns={"id": "video_id"}, inplace=True)
merged.head()

,transcript,video_id,title,description,duration,view_count,like_count,channel_follower_count,categories
0,"Man, because I'm getting frustrated. I had a ...",AAHiZ-c88ec,How to INSTALL a HEAT PUMP Electric WATER HEAT...,Need to catch some rats? Use our Twin Traps: h...,586,10280,161.0,375000.0,Education
1,"Before I start, I will give a shoutout to Rok...",AEsRr-ZnzNc,MacFan Salutes E10 S3: Avatar the Way of water...,Shoutouts \n@RokuKun3 \n@HarryStrackTheGoAnima...,172,18,0.0,128.0,Entertainment
2,"test number 3. Alright Okay, oh go on the gro...",AJpzk-aFZPU,Blow up an apple fail,Lets see if blowing up an apple is a great ides,108,44,4.0,31.0,People & Blogs
3,We're gonna play something off of our brand n...,AONXX-h9SdI,"Queensryche 2022-10-21 ""Behind The Walls"" Kala...","Queensryche performs the song ""Behind The Wall...",353,612,24.0,8450.0,Music
4,Music,AOZIY-AwsjM,fish8,NaN,21,1,0.0,25.0,Comedy

In [10]:
len(merged)

2654

In [11]:
merged.to_csv('data/merged.csv')

In [20]:
from collections import Counter

In [21]:
df = pd.read_csv('data/normalized_merged.csv')
Counter(df["openai_response"].tolist())

Counter({'Good': 1462, 'Bad': 1152})

In [22]:
good_df = df[df["openai_response"] == "Good"]
good_df.head()
good_df.to_csv("data/normalized_merged_categorized_good.csv", index=False)