In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/normalized.csv")
df.head()

,Unnamed: 0,video_id,transcript,doc_length,lexical_diversity
0,0,AAHiZ-c88ec,man getting frustrated water heater delivery s...,760,0.435526
1,1,AEsRr-ZnzNc,start give harry stack go war yes movie rock m...,142,0.676056
2,2,AJpzk-aFZPU,test number alright okay oh go ground oh god c...,16,0.812500
3,3,AONXX-h9SdI,gonna play something brand new album came octo...,266,0.289474
4,4,AOZIY-AwsjM,music,1,1.000000

In [5]:
df["lexical_diversity"].describe()

count    2614.000000
mean        0.647782
std         0.247335
min         0.002242
25%         0.459459
50%         0.666667
75%         0.847132
max         1.000000
Name: lexical_diversity, dtype: float64

In [6]:
df["doc_length"].describe()

count     2614.000000
mean       477.963275
std       1256.654704
min          1.000000
25%         22.000000
50%         93.500000
75%        381.750000
max      20538.000000
Name: doc_length, dtype: float64

In [11]:
df_pruned = df[(df["doc_length"] > 22) & (df["lexical_diversity"] > 0.4)]
len(df_pruned), len(df)

(1479, 2614)

In [12]:
df_pruned.to_csv("../data/normalized_pruned.csv")